$main-color: #009688;
$sub-color: #00897B;
$accent-color: #4DD0E1;

$main-text-white: #FFFFFF;
$sub-text-white: rgba(255, 255, 255, 0.7);
$invalid-text-white: rgba(255, 255, 255, 0.3);

$main-text-black: rgba(0, 0, 0, 0.87);
$sub-text-black: rgba(0, 0, 0, 0.54);
$invalid-text-black: rgba(0, 0, 0, 0.38);

$boder-color: #9e9e9e;
