.nav-panel.z-depth-2
  .collection.z-depth-2
    = link_to "イベント登録", root_path, class: "collection-item"
    = link_to "イベント一覧", events_path, class: "collection-item"
  .search-area
    .search-area__text イベント検索
    .= search_field 