a {
  text-decoration: none;
}

.event {
  padding: 30px;
  &__head {
    display: flex;
    max-width: 800px;
    border-radius: 4px;
    border: 1px solid rgb(185, 185, 185);
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: rgb(124, 235, 255);
    h1 {
      text-align: center;
      margin: 0 auto;
    }
    &__link {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
.event-form {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px 30px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
}
