.saved_image_title{
  margin-left: 20px;
}
.saved_image {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px gray;
  color: rgb(150, 150, 150);
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  text-align: center;
}
.saved_image_area {
  margin-top: 10px;
}