@media screen and (min-width:480px){
  .sm-size {
    display: none;
  }
}

@media screen and (max-width:479px) {
  .xl-size {
    display: none;
  }
}


.event-index {
  padding-top: 30px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.event-index__content {
  &--web_public {
    text-align: center;
  }
}

.table-num {
  text-align: right;
}
.paginate {
  text-align: center;
}
