.event-index {
  padding-top: 30px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.event-index__title {
  display: flex;
}
.event-index__content {
  display: flex;
  &--web_public {
    text-align: center;
  }
}

.table-num {
  text-align: right;
}
.paginate {
  text-align: center;
}
