.event-index {
  padding-top: 30px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.event-index__title {
  display: flex;
}
.event-index__content {
  display: flex;
  &--web_public {
    text-align: center;
  }
}
// th {
//   border: 1px solid;
//   width: 120px;
//   height: 50px;
//   line-height: 30px;
//   padding: 10px;
//   background-color: rgb(200, 247, 255);
// }
// td {
//   border: 1px solid;
//   width: 120px;
//   height: 50px;
//   line-height: 30px;
//   padding: 10px;
// }
.table-num {
  text-align: right;
}
.paginate {
  text-align: center;
}
