@media screen and (min-width:601px){
  .nav-panel {
    background-color: $invalid-text-black;
    width: calc(100vw - 70%);
    height: calc(100vh - 64px);
    padding: 10px;
    .collection {
      width: 80%;
      margin: 30px auto;
      a {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:600px) {
  .nav-panel {
    background-color: $invalid-text-black;
    width: 100vw;
    // height: calc(100vh - 64px);
    padding: 10px;
    .collection {
      width: 80%;
      margin: 30px auto;
      a {
        text-align: center;
      }
    }
  }
}
